In [7]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
%matplotlib inline

import plotly
import plotly.express as px
import plotly.graph_objects as go

import cufflinks as cf
import plotly.offline as pyo
from plotly.offline import init_notebook_mode,plot,iplot

import folium 
# folium is used for map

In [8]:
pyo.init_notebook_mode(connected=True)
cf.go_offline()

In [9]:
data=pd.read_csv('covid_india.csv')

In [10]:
data

,S. No.,Name of State / UT,Active Cases,Cured/Discharged/Migrated,Deaths,Total Confirmed cases
0,1,Andaman and Nicobar,100,7079,127,7306
1,2,Andhra Pradesh,71466,1743176,12109,1826751
2,3,Arunachal Pradesh,2810,29223,155,32188
3,4,Assam,39653,426259,4064,469976
4,5,Bihar,3991,704805,9523,718319
5,6,Chandigarh,462,59980,799,61241
6,7,Chhattisgarh,11126,964265,13354,988745
7,8,Dadra and Nagar Haveli and Daman and Diu,65,10412,4,10481
8,9,Delhi,2749,1404085,24876,1431710
9,10,Goa,4044,156354,2960,163358
10,11,Gujarat,8242,803122,10012,821376
11,12,Haryana,3579,753918,9109,766606
12,13,Himachal Pradesh,3733,192260,3414,199407
13,14,Jammu and Kashmir,11381,293763,4217,309361
14,15,Jharkhand,2246,336645,5092,343983
15,16,Karnataka,151587,2599472,33296,2784355
16,17,Kerala,110226,2639593,11655,2761474
17,18,Ladakh,538,18945,199,19682
18,19,Lakshadweep,447,8847,45,9339
19,20,Maharashtra,139744,5679746,115390,5934880
20,21,Manipur,9078,51762,1008,61848
21,22,Meghalaya,4464,38032,758,43254
22,23,Mizoram,3647,12414,74,16135
23,24,Madhya Pradesh,3273,776887,8649,788809
24,25,Nagaland,2699,20805,461,23965
25,26,Odisha,42270,817359,3432,863061
26,27,Puducherry,4495,107425,1702,113622
27,28,Punjab,10046,564084,15698,589828
28,29,Rajasthan,4962,936586,8865,950413
29,30,Sikkim,2965,15556,285,18806
30,31,Tamil Nadu,114335,2244073,30338,2388746
31,32,Telengana,19975,584429,3521,607925
32,33,Tripura,5122,55116,634,60872
33,34,Uttar Pradesh,6496,1674999,21963,1703458
34,35,Uttarakhand,3572,327233,6997,337802
35,36,West Bengal,21152,1432961,17118,1471231

In [ ]:
data.drop(['s. No'],axis)